{% extends 'base.html' %}

{% block title %} Python Flask Simple CRUD. Flask-SQLalchemy {% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Python Flask Simple CRUD. Flask-SQLalchemy</h2>
    <form method="post" action="{{ url_for('add') }}" class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <label for="title" class="form-label">Enter a task here:</label>
          <input type="text" name="title" class="form-control" required>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary mt-4">
            <strong class="fs-5">Add Todo</strong>
          </button>
        </div>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Todo Item</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todo_list %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ todo.title }}</td>
            <td>
              {% if todo.complete == False %}
                <span class="badge bg-secondary">In progress</span>
              {% else %}
                <span class="badge bg-success">Completed</span>
              {% endif %}
            </td>
            <td>
              <form method="post" action="{{ url_for('update', todo_id=todo.id) }}" style="display:inline;">
                <button type="submit" class="btn btn-success btn-sm">
                  <i class="bi bi-pencil"></i> Update
                </button>
              </form>
              <form method="post" action="{{ url_for('delete', todo_id=todo.id) }}" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i> Delete
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}