{% set menu = {
    "Домашня": url_for("home"),
    "Про мене": url_for("about"),
    "Todo": url_for("todos"),
    "feedback": url_for("feedback"),
    "all users": url_for("users"),
} %}

{% if current_user.is_authenticated %}
    {% set authorized_menu = {
        "Account": url_for("account"),
        "Log out": url_for("logout")
    } %}
    {% set unauthorized_menu = {} %}
{% else %}
    {% set authorized_menu = {} %}
    {% set unauthorized_menu = {
        "Register": url_for("register"),
        "Log in": url_for("login")
    } %}
{% endif %}
{% set menu = {
    "Домашня": url_for("home"),
    "Про мене": url_for("about"),
    "Todo": url_for("todos"),
    "feedback": url_for("feedback"),
    "all users": url_for("users"),
} %}

{% if current_user.is_authenticated %}
    {% set authorized_menu = {
        "Account": url_for("account"),
        "Log out": url_for("logout")
    } %}
    {% set unauthorized_menu = {} %}
{% else %}
    {% set authorized_menu = {} %}
    {% set unauthorized_menu = {
        "Register": url_for("register"),
        "Log in": url_for("login")
    } %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light centered-navbar" style="background-color: deeppink;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Yulia Pavliuk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                {% for name, url in menu.items() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}">{{ name | upper }}</a>
                    </li>
                {% endfor %}
                {% for name, url in authorized_menu.items() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}">{{ name | upper }}</a>
                    </li>
                {% endfor %}
                {% for name, url in unauthorized_menu.items() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}">{{ name | upper }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>