{% set menu = {
    "Home": url_for('portfolio.home'),
    "About": url_for('portfolio.about'),
    "Account": url_for('auth.account'),
    "Login": url_for('auth.login'),
    "Registration": url_for('auth.registration'),
    "Todo": url_for('todo.todos'),
    "Feedbacks": url_for('feedback.feedbacks'),
    "Users": url_for('auth.users'),
    "Logout": url_for('auth.logout')
} %}

<nav class="navbar navbar-expand-lg navbar-light centered-navbar" style="background-color: deeppink;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Yulia Pavliuk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for name, url in menu.items() %}
                    {% if current_user.is_authenticated %}
                        {% if name != "Login" and name != "Registration" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if name != "Logout" and name != "Account" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
