{% extends 'base.html' %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <h2>Page 2</h2>
    <p>У вільний час люблю займатись випічкою. Натхнення та нові рецепти беру з ютуб блогів. Ось мій рейтинг:</p>
    <table>
    <tr>
        <th>Назва каналу</th>
        <th>Підписники</th>
        <th>Національність</th>
    </tr>
    <tr>
        <td>Liza Glinskaya</td>
        <td>717 тисяч</td>
        <td>українка</td>
    </tr>
    <tr>
        <td>Cookers Show</td>
        <td>14 тисяч</td>
        <td>українка</td>
    </tr>
    <tr>
        <td>Євгенія Періг</td>
        <td>84 тисяч</td>
        <td> українка</td>
    </tr>

    </table>
    <img src="/static/images/png2.png" alt="Зображення 2">


{% endblock %}
