{% extends 'base.html' %}



{% block body %}
<div class="container">
    <h2>Page 1</h2>
    <p class="biography">Привіт! Мене звати Юля, мені 19 років, і я студентка інженерії програмного забезпечення. Захоплююсь програмуванням та розробкою, і намагаюся поєднати теорію з практикою.</p>
    <table class="bio-table">
      <tr>
        <th>Дата народження</th>
        <th>Рік</th>
    </tr>
    <tr>
        <td> 4 березня</td>
        <td>2004</td>
    </tr>
    </table>
    <img src="/static/images/png1.png" alt="Зображення 1"><br><br>
    <h4><a href="{{ url_for('about') }}">Повернутися до біографії</a></h4>
</div>
{% endblock %}
